.navigator {
  border: solid white 1px;
  border-radius: 5px;
  padding: 12px 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
}
