.header__subtitle {
  font-style: normal;
  line-height: 120%;
  font-size: 25px;
  font-weight: 500;
  max-width: 100%;
}

.header__subtitle::selection {
  color: var(--selection-color);
}

@media screen and (max-width: 767px) {
  .header__subtitle {
    margin: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .header__subtitle {
    margin: 18px 0;
  }
}